
body {
   background-color: #40b0b5;
  }

  h1 {
   color: #9900cc;
   text-align: center;
   font: italic 200% courier;
  }

  p {
    padding: 20px;
    color: #e6d7f2;
    text-align: center;
    border: 3px dotted #ff008d;
  }
